In [6]:
import pandas as pd
import glob

In [4]:
!kaggle datasets download rajugc/imdb-movies-dataset-based-on-genre -p temp/ --unzip

Dataset URL: https://www.kaggle.com/datasets/rajugc/imdb-movies-dataset-based-on-genre
License(s): CC-BY-NC-SA-4.0
Downloading imdb-movies-dataset-based-on-genre.zip to temp
 97%|█████████████████████████████████████ | 52.0M/53.4M [00:05<00:00, 14.0MB/s]
100%|██████████████████████████████████████| 53.4M/53.4M [00:05<00:00, 10.6MB/s]

In [8]:
df = pd.concat((pd.read_csv(file) for file in glob.glob("temp/*.csv")), ignore_index=True)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368300 entries, 0 to 368299
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     368300 non-null  object
 1   movie_name   368296 non-null  object
 2   year         315052 non-null  object
 3   certificate  104191 non-null  object
 4   runtime      259146 non-null  object
 5   genre        368300 non-null  object
 6   rating       230938 non-null  float64
 7   description  368300 non-null  object
 8   director     340931 non-null  object
 9   director_id  340931 non-null  object
 10  star         309605 non-null  object
 11  star_id      316442 non-null  object
 12  votes        230942 non-null  float64
 13  gross(in $)  25039 non-null   float64
dtypes: float64(3), object(11)
memory usage: 39.3+ MB

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 368300 entries, 0 to 368299
Data columns (total 14 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_id     368300 non-null  object
 1   movie_name   368296 non-null  object
 2   year         315052 non-null  object
 3   certificate  104191 non-null  object
 4   runtime      259146 non-null  object
 5   genre        368300 non-null  object
 6   rating       230938 non-null  float64
 7   description  368300 non-null  object
 8   director     340931 non-null  object
 9   director_id  340931 non-null  object
 10  star         309605 non-null  object
 11  star_id      316442 non-null  object
 12  votes        230942 non-null  float64
 13  gross(in $)  25039 non-null   float64
dtypes: float64(3), object(11)
memory usage: 39.3+ MB

In [11]:
df.drop(columns=['movie_id', 'director_id', 'star_id'], inplace=True)

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 257101 entries, 0 to 368299
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_name   257099 non-null  object
 1   year         217905 non-null  object
 2   certificate  62958 non-null   object
 3   runtime      173034 non-null  object
 4   genre        257101 non-null  object
 5   rating       151942 non-null  float64
 6   description  257101 non-null  object
 7   director     236247 non-null  object
 8   star         212609 non-null  object
 9   votes        151944 non-null  float64
 10  gross(in $)  15221 non-null   float64
dtypes: float64(3), object(8)
memory usage: 23.5+ MB

In [12]:
df_new = df.drop(columns=["gross(in $)", "certificate"]).dropna(subset=["movie_name", "description", "director"]).fillna("-").drop_duplicates(subset=['movie_name', 'year', 'director'])

In [13]:
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 223589 entries, 0 to 368299
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   movie_name   223589 non-null  object
 1   year         223589 non-null  object
 2   runtime      223589 non-null  object
 3   genre        223589 non-null  object
 4   rating       223589 non-null  object
 5   description  223589 non-null  object
 6   director     223589 non-null  object
 7   star         223589 non-null  object
 8   votes        223589 non-null  object
dtypes: object(9)
memory usage: 17.1+ MB

In [14]:
df_new.to_csv('../data/movies.csv', index=False)